<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/boardreal2.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <!-- 파비콘 -->
    <link rel="icon" href="./icon/pavi.ico" />
    <title>HYFT ˘◡˘</title>
  </head>
  <body>
    <!-- 헤더시작 -->
    <header>
      <div class="header-container">
        <div class="header-left">
          <i class="fa-solid fa-bars"></i>
        </div>
        <p>How You Feel Today?</p>
        <div class="header-right">
          <i class="fa-solid fa-cart-shopping"></i>
          <a href="/login">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
      </div>
    </header>
    <div class="header-under">
      <ul class="header-under-ul">
        <li><a href="/product">shop</a></li>
        <li><a href="/board">Community</a></li>
        <li><a href="/magazine">magazine</a></li>
      </ul>
    </div>
    <div class="bar-menu hidden">
      <div class="bar-left">
        <div class="bar-img"></div>
      </div>
      <div class="bar-right">
        <a href="/product">Shop</a>
        <a href="/board">Community</a>
        <a href="/magazine">Magazine</a>
        <a href="#">Q & a</a>
        <a href="/login">Login</a>
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="cart-menu hidden">
      <div class="cart-left">
        <div class="cart-left-title">YOU MAY LIKE</div>
        <div class="cart-left-box">
          <div class="cart-left-photo1"></div>
          <p>소품 인테리어 큐브 캔들</p>
          <p>24,000원</p>
        </div>
        <div class="cart-left-box">
          <div class="cart-left-photo2"></div>
          <p>감성 무드등</p>
          <p>41,000원</p>
        </div>
      </div>
      <div class="cart-right">
        <div class="cart-right-title">
          CART
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="cart-right-box">
          <div class="right_box_img">
            <img src="img/item/happyItem10.png" alt="" />
          </div>
          <div class="right_box_text">
            <p>포근한 차렵이불</p>
            <p>38,000원</p>
          </div>
        </div>
        <div class="cart-right-box">
          <div class="right_box_img">
            <img src="img/item/recommendItem9.png" alt="" />
          </div>
          <div class="right_box_text">
            <p>크리스마스 포스터</p>
            <p>12,000원</p>
          </div>
        </div>
        <a href="/myPage">
          <div class="cart-right-continue">
            <p><span>C</span>ONTINUE YOUR ORDER</p>
          </div>
        </a>
      </div>
    </div>
    <!-- 헤더 끝 -->
    <!-- 새글쓰기 -->
    <form action="/write" method="POST" enctype="multipart/form-data">
      <div class="modalAll2 new displayNone">
        <div class="bg new"></div>
        <div class="modal2 new">
          <div class="close2"></div>
          <div class="modalSection1 new">
            <div class="modalTitleBox new">
              <input type="text" class="m-title2 new" placeholder="제목을 입력하세요." name="title" />
              <div class="m-emoji new" style="background-image: url('image/happy.png')"></div>
            </div>
            <input type="hidden" value="happy" name="emotion" id="emotion" />
            <div class="modalContentBox new">
              <img class="modalMainImg upload new" src="image/addImg.png" />
              <input type="file" class="real-upload new" accept="image/*" style="display: none" name="photo" />
              <div class="m-content new">
                <textarea id="textarea" cols="30" rows="10" placeholder="내용을 입력하세요." name="detail"></textarea>
                <!-- <input type="text" placeholder="내용을 입력하세요." /> -->
                <div>
                  <div class="m-hashtag new">
                    <ul class="menu2 new">
                      <li class="zigzag dropdown2 dropdown-1 new">
                        #HAPPY
                        <ul class="dropdown_menu2 dropdown_menu-1 new displayNone">
                          <li class="zigzag dropdown_item-1 new">#HAPPY</li>
                          <li class="zigzag dropdown_item-1 new">#BORED</li>
                          <li class="zigzag dropdown_item-1 new">#NERVOUS</li>
                          <li class="zigzag dropdown_item-1 new">#LONELY</li>
                          <li class="zigzag dropdown_item-1 new">#SAD</li>
                          <li class="zigzag dropdown_item-1 new">#ANGRY</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="m-Section3 new">
            <p class="section3-title new">오늘의 기분은 어떤가요?</p>
            <div class="selectEmoji">
              <img src="image/happy.png" alt="happy" />
              <img src="image/bored.png" alt="bored" />
              <img src="image/nervous.png" alt="nervous" />
              <img src="image/lonely.png" alt="lonely" />
              <img src="image/sad.png" alt="sad" />
              <img src="image/angry.png" alt="angry" />
            </div>
          </div>
          <input type="submit" value="저장하기" id="save" />
        </div>
      </div>
    </form>
    <!-- 새글끝 -->
    <!-- 포스트잇 모달 -->
    <div class="modalAll displayNone">
      <div class="bg"></div>
      <div class="modal"></div>
    </div>
    <!-- 포스트잇 모달 끝-->
    <div id="wrapper">
      <div id="container">
        <div id="cardBox">
          <div class="swiper">
            <div id="category" class="swiper-wrapper">
              <div class="hashtag tagClick swiper-slide" tag="happy">#HAPPY</div>
              <div class="hashtag swiper-slide" tag="bored">#BORED</div>
              <div class="hashtag swiper-slide" tag="nervous">#NERVOUS</div>
              <div class="hashtag swiper-slide" tag="lonely">#LONELY</div>
              <div class="hashtag swiper-slide" tag="sad">#SAD</div>
              <div class="hashtag swiper-slide" tag="angry">#ANGRY</div>
            </div>
          </div>
          <div class="card2 addCard">
            <img class="tape" src="image/tape.svg" alt="" />
            <div class="box add">
              <img class="plus" src="image/add.png" alt="" />
            </div>
          </div>
          <!-- <img class="tape" src="image/tape.svg" alt="" /> -->
          <% data.forEach((e)=>{ %>
          <div class="card">
            <div class="box">
              <div class="titleBox">
                <div class="title"><%= e.title %></div>
                <img class="cardEmoji" src="image/<%=e.emotion%>.png" alt="<%=e.emotion%>" />
              </div>
              <div class="contentBox">
                <p><%= e.detail %></p>
              </div>
            </div>
            <p style="display: none" id="photo"><%= e.photo%></p>
          </div>
          <% }) %>
        </div>
        <div id="paging"></div>
      </div>
      <!-- 푸터시작 -->
      <footer>
        <div class="footer-logo">
          <img src="SVG/logo.svg" />
        </div>
        <div class="footer-word">
          <div class="footer-info">
            <p>studio@hyft.com</p>
            <br />
            <p>394, Jungang-daero, Jung-gu, Daegu, Republic of Korea</p>
            <p>+82 0507-1414-1018a</p>
          </div>
          <div class="footer-social">
            <p>Twitter</p>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Contact Us</p>
          </div>
        </div>
      </footer>
      <!-- 푸터끝 -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/board.js"></script>
  </body>
</html>
