<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/boardVw.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="top-bar">topbar</div>
      <div id="header">header</div>
      <div id="container">
        <div id="cardBox">
          <div class="swiper">
            <div id="category" class="swiper-wrapper">
              <div class="hashtag tagClick swiper-slide">#HAPPY</div>
              <div class="hashtag swiper-slide">#BORED</div>
              <div class="hashtag swiper-slide">#NERVOUS</div>
              <div class="hashtag swiper-slide">#LONELY</div>
              <div class="hashtag swiper-slide">#SAD</div>
              <div class="hashtag swiper-slide">#ANGRY</div>
            </div>
          </div>
          <div class="card addCard">
            <img class="tape" src="image/tape.svg" alt="" />
            <div class="box add">
              <img class="plus" src="image/add.png" alt="" />
            </div>
          </div>
          <% data.forEach(data=>{ %>
          <div class="card">
            <img class="tape" src="image/tape.svg" alt="" />
            <div class="box">
              <div class="titleBox">
                <div class="title"><%= data.제목%></div>
                <img class="cardEmoji" src="image/<%= data.기분%>.png" alt="" />
              </div>
              <div class="contentBox">
                <p>
                  <%= data.내용%>
                  <%= data.내용%>
                  <%= data.내용%>
                  <%= data.내용%>
                  <%= data.내용%>
                  <%= data.내용%>
                </p>
              </div>
              <img class="heart" src="image/<%=data.하트%>Heart.svg" alt="" />
            </div>
          </div>
          <% }); %>
        </div>
        <div id="paging">&lt; 1 2 3 4 5 6 7 &gt;</div>
      </div>
      <div id="footer">footer</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/board.js"></script>
  </body>
</html>
